@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: #2d2d2dff;
}

h2 {
  font-size: 35px;
}

p,
q {
  font-size: 23px;
}

html {
  scroll-behavior: smooth;
}
