* {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: #2d2d2dff;
}

h2 {
  font-size: 35px;
}

p,
q {
  font-size: 23px;
}

/* why-choose-me-section */
.why-choose-me-section {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  background-color: #2d2d2dff;
  /* padding: 40px 0; */
  height: 90vh;
  min-height: fit-content;
}

.why-choose-me-text-sub-section {
  display: grid;
  grid-template-rows: 1fr 1.7fr;
}

.why-choose-me-images-sub-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.why-choose-me-text-title-container,
.why-choose-me-text-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.why-choose-me-text-title,
.why-choose-me-text-text {
  color: white;
}

.why-choose-me-text-title-container {
  padding: 0 60px;
  justify-content: center;
}

.why-choose-me-text-text-container {
  padding: 0 60px;
  justify-content: start;
}

.why-choose-me-text-text {
  padding-bottom: 20px;
}

.why-choose-me-image {
  height: 200px;
  width: auto;
}

@media (max-width: 1100px) {
  .why-choose-me-section {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 50px 0;
  }

  .why-choose-me-text-sub-section {
    display: block;
  }

  .why-choose-me-text-title {
    width: 100%;
    text-align: center;
  }

  .why-choose-me-text-text {
    text-align: center;
  }

  .why-choose-me-text-title-container {
    margin: 30px 0;
  }

  .why-choose-me-image {
    height: 150px;
  }
}

@media (max-height: 500px) {
  .why-choose-me-section {
    /* height: fit-content; */
  }
}
