<ion-content class="ion-padding">
  <div class="title-box">
    <h1>Aled Lewis Plumbing and Heating</h1>
  </div>
  <!-- WHAT I DO -->
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title>Domestic plumbing & heating in mid wales</ion-card-title>
      <ion-card-subtitle>What I do?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Hugh Lewis specialises in maintaining and repairing all oil fired boilers
      and cookers for residential customers within Mid Wales, as well as parts
      of Shropshire, Radnorshire, Ceredigion and Gwynedd. With a friendly,
      proactive ethos when it comes to clients, I work flexibly to minimalise
      disruption & guarantee peace of mind.
    </ion-card-content>
  </ion-card>

  <!-- ABOUT ME -->
  <ion-card>
    <!-- <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    /> -->
    <ion-card-header>
      <ion-card-title>About me</ion-card-title>
      <!-- <ion-card-subtitle>About me</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      Services in Mid Wales whether you require a simple repair, or services for
      a complete new build project, you can rely on Matt Brown Plumbing &
      Heating Ltd. We are experienced in site development projects both large
      and small. We are based near Newtown, and cater to customers throughout
      Mid Wales. So if you would like to find out more about our plumbing and
      heating services, get in touch with us today.
    </ion-card-content>
  </ion-card>

  <!-- WHY CHOOSE ME -->
  <ion-card>
    <!-- <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    /> -->
    <ion-card-header>
      <ion-card-title>Why choose me?</ion-card-title>
      <!-- <ion-card-subtitle>About me</ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          <ion-label>OFTEC Registered</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          <ion-label>Rayburn Guild authorised</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          <ion-label>Fully insured</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          <ion-label>Local, independant service</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          <ion-label>Quality, customer-focused approach </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Clients opinion -->
  <ion-card>
    <!-- <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    /> -->
    <ion-card-header>
      <ion-card-title>Clients' opinions</ion-card-title>
      <ion-card-subtitle>Why choose me?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> </ion-card-content>
  </ion-card>
</ion-content>
