/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-icon {
  padding-right: 20px;
}

.title-box {
  padding: 30px 10px;
  text-align: center;
}

h1 {
  font-weight: bold;
  // font-size: ;
}
